In [153]:
def fun_odd(n):
    if n>0:
        for i in range(n+1):
            if  i%2!=0:
                for j in (i):
                    if i%j==0:
                        break
                    else:
                        print(i)
    else:
        print("enter the number greater than zero")

In [8]:
def prime(n):
    for num in range(2, n+1):
            for i in range(2, num):
                if num % i == 0:
                    break
            else:
                print(num)

In [10]:
prime(99)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [8]:
n = int(input("enter the number"))
if n > 0:
    for i in range(2,n):
        if i%2!=0:
            for j in range(2,i):
                if i%j==0:
                    break
            else:
                print(i)

enter the number 100

3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97