In [4]:
varibale="pavan"
print(varibale)
type(varibale)

pavan

str

In [5]:
a=10
type(a)

int

In [6]:
print(4*5)

20

In [2]:
a=4
b="5"
print(a+b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [15]:
a=4
b="5"
print(a+int(b))

9

In [19]:
b="2345"

# b="pavan"

b=int(b)
type(b)

int

In [22]:
a=int(input())
b=int(input())
print(a*b)

 10
 15

150

In [26]:
a=input()

 10

In [29]:
a=5
print(float(a))
a=float(a)
type(a)

5.0

float

In [30]:
int()
str()
float()

0.0

In [32]:
# indexing

In [53]:
0,1,2,3,4,5
a="Hello World india"
a=a.split(" ")
type(a)

list

In [ ]:
a="Hello World"
l=list(a)
print(l)

In [42]:
list=[1,"pavan"]

In [44]:
print(list[1])

pavan

In [64]:
list=[1,2,3,4,5,6,7]
print(list[-6])

2

In [65]:
l=['india','USA']
print(l[0])

india

In [1]:
s = "Geeks for Geeks"
a = list(s)
print(a)

['G', 'e', 'e', 'k', 's', ' ', 'f', 'o', 'r', ' ', 'G', 'e', 'e', 'k', 's']

In [2]:
a='Hello world'
l=list(a)
print(l)

['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [3]:
print(l[4])

o

In [6]:
a="Hello World"
a=a.split(" ")
l=list(a)
print(l)

['Hello', 'World']

In [15]:
# If Else condition
a=11
if a>10:
    a=a+5
elif a<10:
    a=a-5
else:
    a=a-10

print(a)

16

In [18]:
a=21
b=16
if a>20:
    if b<15:
        print('true')
    else:
        print('no')
else:
    print('No')

no

In [ ]:
lists
# slicing
# how to use if else with lists
# append
mapping
# sets
# and 
# or
# sorted

In [22]:
print(5//3)

1

In [23]:
a=10
if a%2==0:
    print('Even')
else:
    print('Odd')

Even

In [25]:
print(round(5/3,3))

1.667

In [ ]:
write a program to tell that the number is a amstrong number or not
153= 1**3+5**3+3**3

In [7]:
a=int(input())
b=(int(str(a)[0])**3)+(int(str(a)[1])**3)+(int(str(a)[2])**3)
type(a)

 121

int

In [11]:
print("paban","pavan",sep='\n')

paban
pavan

In [15]:
print("pavan",end="")
print("kumar",end="")
print("mamidi")

pavankumarmamidi

In [22]:
a=int(input())
list=[1,2,3,4,5,6]
if a not in list:
    print("no")
else:
    print("yes")

 7

no

In [25]:
a="PAVAN"
print(a.lower())

pavan

In [27]:
a=int(input())
if a>30 or a<40:
    print("ok")
elif a<30:
    print("yes")
else:
    print("no")

 41

ok

In [36]:
list=[1,2,3,4,5]
for i in list:
    print(f"{i}-{list.index(i)}")

1-0
2-1
3-2
4-3
5-4
pavan[1, 2, 3, 4, 5]dhfndsa

In [29]:
print(list)

[1, 2, 3, 4, 5, 6]

In [37]:
list=[1,2,3,4,5]
list.insert(1,7)

In [38]:
print(list)

[1, 7, 2, 3, 4, 5]

In [52]:
list=[1,3,42,2,0,5,4,2]
list.sort(reverse=True)
print(list)

[42, 5, 4, 3, 2, 2, 1, 0]

In [49]:
print(list)

[0, 1, 2, 3, 4, 5, 42]

In [ ]:
dictionaries
# forloop
while loop
# bitwise 
# or
# nor
# xor
# remove duplicates
# print the duplicates
# update in lists
# remove from lists

In [61]:
s={1,2,3,4,5}
a=list(s)
print(a)

TypeError: 'list' object is not callable

In [54]:
s

TypeError: 'set' object is not subscriptable

In [2]:
s={1,2,3,4,5}
a=list(s)
print(a)

[1, 2, 3, 4, 5]

list

In [5]:
a=list(map(str,input().split(" ")))
print(a)

 1 2 3 4 5

['1', '2', '3', '4', '5']

In [1]:
l=[100,2000,4000,40]

In [3]:
10= 0000 1010
11= 0000 1011
    0000 1011

11

In [6]:
print(11)

1

In [7]:
print(10<<2)

40

In [8]:
# 0000 1010
# 00

SyntaxError: invalid syntax (1539189614.py, line 1)

In [17]:
l=[1,2,3,4,5]
l.update(2)

AttributeError: 'list' object has no attribute 'update'

In [18]:
print(l)

[1, 2, 3, 4, 5]

In [19]:
l[0]=2

In [20]:
print(l)

[2, 2, 3, 4, 5]

In [21]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [1]:
l=[2,3,4,2,3,4]
sum1=0
for i in range(len(l)):
    sum1=sum1+l[i]
print(sum(l))

18

In [2]:
print(sum1)

18

In [3]:
print(sum(l))

18

In [4]:
l=[1,2,3,4,5]
a=0
for i in l:
    a=a+i
print(a)

15

In [5]:
l=[1,2,2,3,4,5,6,6]
for i in l:
    if l.count(i)>1:
        print(i)

6
6

In [22]:
l=[1,2,3,4,4,3,1,5]
k=[]
for i in l:
    if i not in k:
        k.append(i)
print(k)

[1, 2, 3, 4, 5]

In [10]:
print(k)

[1]

In [11]:
type(k)

list

In [14]:
import math

In [20]:
print(math.pow(3,2))

9.0

In [ ]:
*
**
***
****
*****
******
*******

In [4]:
n = int (input())
while n>= 10:
    print(n)
    n = n-1

 25

25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10